<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <add key="DataXslt" value="C:\Development\EnterpriseSupportGroup\XMLDataTransformer\XSLTTemplates\"/>
    <add key="ExcelXslt" value="C:\Development\EnterpriseSupportGroup\XMLDataTransformer\XSLTTemplates\Xml2Excel.xslt"/>
    
  </appSettings>
</configuration>
